 <ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content on-swipe-left="onGesture()">

    <ion-nav-bar class="barCustomColor auxHeigth"  >
     
    

      <ion-nav-back-button class="auxHeigth" >
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button 

          class="button button-clear-white button-clear icon-right ion-ios-arrow-right" 
          menu-toggle="right" 
          style="margin-top:3px; width:75px;" 
          ng-show="viewButton()"
          ng-click="reloadStateUser()">{{textButton}} 

        </button>
      </ion-nav-buttons>

       <ion-nav-buttons side="left">
        <div menu-close class=" button-clear-white button-clear {{iconData}}" menu-toggle="left" 
          ng-click="backView()">
            {{textBack}}
        </div>
      </ion-nav-buttons>


    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>


  <ion-side-menu side="right" is-enabled="shouldLeftSideMenuBeEnabled()" 
   >


    <ion-content class="fontFrom">
        <profile-View></cell-profile>
    </ion-content>


  </ion-side-menu>

  <div  ng-if="existUser" 
      class="footerInitAux">

  </div>

</ion-side-menus>


<!-- 
  <ion-content 
    class="padding"
    id="content"
    on-swipe-up="onGesture('Swipe Up')"
    on-swipe-right="onGesture('Swipe Right')"
    on-swipe-down="onGesture('Swipe Down')"
    on-swipe-left="onGesture('Swipe Left')"
    on-hold="onGesture('Hold')"
    on-double-tap="onGesture('Double-Tap')"
    scroll="false">     
  </ion-content> 
-->