<ion-view class="startFont">
	<ion-content>

		<div class="startImage"></div>
		
		<p class="startText">
			La herramienta de MinAgricultura que pone a su 
			alcance toda la información de interés en materia de 
			trámites, noticias, programas y convocatorias.
		</p>

		<div class="startPaddingButton">
			<a href="#/app/info" class="button button-full button-balanced" ng-click="recoverFavorites()">Ingresar</a>
		</div>

		<center>
			<a href="#/app/terminos" id="terminos" ng-click="changeButton()">Ver términos y condiciones
						</a>
		</center>
		<br>
		<center>		
			<a href="#/politicasPrivacidad" id="terminos"  >Politicas de privacidad
						</a>
		</center>

		

	</ion-content>
<ion-footer-bar align-title="left" class="bar-stable">
      
    <div class="letterInit">Aplicacion desarrollada por:</div>
    <div class="logoImage"></div>       

</ion-footer-bar>

	 <!--div class="footerInit">      
	    <div class="letterInit">Aplicacion desarrollada por:</div>
	    <div class="logoImage"></div>       
	  </div-->



</ion-view>