
<ion-view title="{{dataObject.category}}" class="fontFrom">
	<ion-content>


		<notice-view ng-show="viewDataNotice"></notice-view>
		<tramite-view ng-show="viewDataTramite"></tramite-view>
		<program-view ng-show="viewDataProgram"></program-view>
		

        
        <center>
        	<h5 class="{{dataObject.letterColor}} ">¿Le fue útil esta información?</h5>
        </center>
        <br>
        <div class="row circleContent">
        	 <button class="{{stateButtonYes}}" style="{{buttonYes}}" ng-click="change(true)">Si</button>
        	 <button class="{{stateButtonNo}}" style="{{buttonNo}}" ng-click="change(false)">No</button>
        </div>
		<br>


        <div class="row padding">		
			<a class="col col-50 button {{dataObject.colorButton}} "
				 href="#/app/info/detail/{{dataObject.idObject}}/request"
				 style="font-size: 90%;">Solicitar más información</a>
			<div class="col col-10"></div>
			<a class=" 
				col col-33 button 
				{{dataObject.colorButton}} 
				icon-right ion-android-share-alt" 
				 style="font-size: 90%;"
				ng-click="share(dataObject.colorButton)">Compartir
			</a>
		</div>
        


	</ion-content>
</ion-view>