
<ion-view  title="{{titleText}}" class="fontFrom">



	<div class="tabs tabs-striped tabs-top marginAuxTab">
        <a ng-click="actionInfo(1)"
            class="tab-item active"
            style="{{activeBorderColorA}}">Todo</a>


        <a ng-click="actionInfo(2)"
            class="tab-item active"
            style="{{activeBorderColorT}}">Trámites</a>

        <a ng-click="actionInfo(3)"
            class="tab-item active"
            style="{{activeBorderColorP}}">Programa</a>

        <a ng-click="actionInfo(4)"
            class="tab-item active"
            style="{{activeBorderColorN}}">Noticias</a>
	</div>

	<ion-content class="has-header">

    <ion-refresher
        pulling-text="Cargando..."
        on-refresh="doRefresh()">
    </ion-refresher>

    
	<div class="buttonHeader"></div>
    
    <div class="row" >

        <div class="col ">
            <label class="item item-input marginAuxTab">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Buscar" ng-model="dataSearch.text">         
            </label>

        </div>
        
        <div class="col col-25 marginAuxTab " >
            <a class="button button-stable " 
                style="color: #a5a5a5; border-color: #ccc;" ng-click="searhData()">Buscar
            </a> 
        </div>
    </div>

    <cell-view ng-repeat="data in arrayData  track by $index" ></cell-view>
  </ion-content>

</ion-view>
