
<ion-view title="Información" class="fontFrom">
	<ion-content>

		<div class="paddingContent">
			
			<center><h3 class="textLogin textColorLogin">Solicitar información</h3></center>
			<br>
			
			<p class="textColorLogin textLoginMin">La información que esta solicitando le llegará al siguiente correo:</p>
			<label class="item item-input " style="border-color:{{dataObject.borderColor}}">
				<input type="email" placeholder="Ingrese su nombre correo electrónico" 
				ng-model="info.email"
				class="{{dataObject.colorButton}}"
				>
			</label> 
			<br>

			<p class="textColorLogin textLoginMin">Escriba la información que desea conocer o ampliar:</p>
			<label class="item item-input" style="border-color:{{dataObject.borderColor}}">
				<textarea rows="5"  placeholder="Mensaje" ng-model="info.text"
				class="{{dataObject.colorButton}}"> </textarea> 
			</label>

			<br>		
			<button ng-click="goToHome(1)"class="button-balanced button button-block {{dataObject.colorButton}}">Enviar</button>

		</div>	
		
	</ion-content>
</ion-view>