<ion-view title="Te conecta" class="startFont">
	<ion-content>

		<div class="startImage2"></div>

		<p class="startText" style="font-size:16px;margin-top: 10px;">
			Términos y Condiciones
		</p>
		
		<p class="startText" style="font-size:14px;margin-top: 10px;">
			El Ministerio de Agricultura y Desarrollo Rural dispone al público la aplicación Agroteconecta, como una herramienta que permite a los productores la consulta de los principales trámites del sector Agropecuario, para el desarrollo de sus actividades económicas y certificaciones de productos agrícolas.
		</p>

		<!--div class="logo3"></div>
		<div class="logo2"></div>
		<div class="lema"></div-->
		

	</ion-content> 

	<ion-footer-bar align-title="left" class="bar-stable">
        <div class="footerInitTerminosLeft">
          <img class="footerInitTerminosLeftImg" src="img/logo_min.png"/>
        </div>
        <div class="footerInitTerminosCenter">
          <img class="footerInitTerminosCenterImg" src="img/logo2.jpg"/>
        </div>
        <div class="footerInitTerminosRight">
          <img class="footerInitTerminosRightImg" src="img/lema.jpg"/>
        </div>
  </ion-footer-bar>
  
</ion-view>