<ion-view title="Registro" class="fontFrom">
	<ion-content>

		<div class="contentLoginImage">
			<div class="startImageLogin"></div>	
		</div>
		
		<div class="paddingContent">

			<div class="textLogin textColorLogin" ng-if="registerTitle">
				Cree una cuenta única para AgroTeConecta, Agronet, AgroInsumos y  AgroNegocios en un solo paso:	
			</div>

			<br>


	<form ng-submit="onSubmit(theForm)" name="theForm" novalidate="novalidate" >
			
			<p class="textColorLogin textLoginMin">Ingrese su correo electrónico:</p>
			<label class="item item-input "

			ng-class="{
				'borderForm': theForm.email.$valid && !theForm.$pristine,
				'borderFormError': !theForm.email.$valid && !theForm.$pristine,
			}"			>
				<input 
					type="email" 
					placeholder="Ingrese su correo electrónico"
					ng-model="formModel.email"  
					id="email"
					name="email"
					required="required"
				>
			</label> 
			<p 
				class="textColorLogin textLoginMin marginAuxTab" 
				ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)"><br>
					Este campo es obligatorio
			</p>

			<p 
				class="textColorLogin textLoginMin marginAuxTab" 
				ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)"><br>
					Correo electrónico inválido
			</p>
			<br>

			<p class="textColorLogin textLoginMin" ng-show="existUser">Cree su contraseña:</p>
            <p class="textColorLogin textLoginMin" ng-show="!existUser">Ingrese su contraseña:</p>
			
			<div class="row" style="padding: 0px;">
				
				<label class="col  passwordCreate item item-input "

				ng-class="{
				'borderForm': theForm.password.$valid && !theForm.$pristine,
				'borderFormError': !theForm.password.$valid && !theForm.$pristine,
				}"	

				>
					<input type="{{typeInput}}" 
						placeholder=" Ingrese su contraseña"
						ng-model="formModel.password"  
						id="password"
						name="password"
						required="required"
						pattern=".{5,}"
						>
				</label>

				<a class="col col-33  button button-small button-clear button-color-green passwordView btnVerclave"  ng-click="viewPassword()">Ver Contraseña</a>
			</div>

			<p 
				class="textColorLogin textLoginMin marginAuxTab" 
				ng-show="theForm.password.$error.required && (!theForm.$pristine || theForm.$submitted)">
				<br>
				Este campo es obligatorio, y minimo 5 caracteres
			</p>
			<br>

			<button 
				type="submit"  
				class="button-balanced button button-block" >{{textButton}}
			</button>	
			<br>

		</form >
			
			<div ng-show="existUser">
				<p class="textColorLogin textLogin">
				Si ya eres usuario de Agronet o de alguna de sus aplicaciones, ingrese con su cuenta de usuario.
				</p>
					
				<button class="button button-block button-clear button-color-green" ng-click="existUserAction()">
					<b class="textColorLogin">Ya tengo cuenta</b>
				</button>
			</div>

			<center 
				class="textLogin textColorLogin" 
				ng-show="!existUser">
					
					<a href="#/app/login/recover"><u>He olvidado mi contraseña</u></a>
			</center>
			

		</div>		

	</ion-content>
</ion-view>