<ion-view title="Recuperar Contraseña" class="fontFrom">
	<ion-content>
		
		<div ng-if="view" class="paddingContent">

			<form ng-submit="onSubmitRecover(theForm)" name="theForm" novalidate="novalidate" >
				
				<p class="textColorLogin textLoginMin">Ingrese su correo electrónico:</p>
				<label class="item item-input "

				ng-class="{
					'borderForm': theForm.email.$valid && !theForm.$pristine,
					'borderFormError': !theForm.email.$valid && !theForm.$pristine,
				}"			>
					<input 
						type="email" 
						placeholder="Ingrese su correo electrónico"
						ng-model="formModel.email"  
						id="email"
						name="email"
						required="required"
					>
				</label> 
				<p 
					class="textColorLogin textLoginMin marginAuxTab" 
					ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
					Este campo es obligatorio
				</p>

				<p 
					class="textColorLogin textLoginMin marginAuxTab" 
					ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)">
					Esta no es una opcion de Correo Electornico
				</p>
				<br>

				<button 
					type="submit"  
					class="button-balanced button button-block" >Enviar
				</button>	
				<br>

			</form >

		</div>

		<div ng-if="!view" class="paddingContent">
			<center>
				<br>
				<br>
				<h3 style="text-align: center;">Hemos enviado un correo de confirmación</h3>
				<br>
				<br>
				<br>
				<br>
				<p style="text-align: center;">
						En su correo se encontrará un link para restaurar su contraseña</p>
				<p style="text-align: center;">
						Puede que este correo este en la carpeta de spam</p>
				<br>
				<br>
				<button 
					class="button-balanced button button-block" 
					ng-click="continueButton()">Continuar
				</button>

			</center>


		</div>



	</ion-content>
</ion-view