<div>

	<div class="item fontFrom">
		<div class="row">
			<label class="circleLabel {{data.background}}">{{data.letterMin}}</label>
			<label class="titleLabelCell" style="font-family: ubuntubold sans-serif">{{data.category}}</label>	
		</div>
		
		<div class="item-text-wrap textTitle" style="font-family: ubuntubold sans-serif">		
			<b style="font-size: 22px;">{{data.title | limitTo: 150}}</b> 	
		</div>
		
		<div class="lineScoll {{data.background}}"></div>
	
		<div  class="item-text-wrap textBody" >	

			<p style="font-size: 16px;" ng-bind-html="strip(data.content) | limitTo: 150"></p>			
		
		</div>
		

		<div class="row">
			
			<a href="#/app/info/detail/{{data.idObjec}}" class="button col col-33 icon-right ion-chevron-right {{data.colorButton}}" ng-click="changeView()" style="font-size: 90%;">Leer más</a>
			
			<div  class="button col icon-left {{data.iconFavorite}} button-clean {{data.letterColor}} " style="font-size: 90%;"
				ng-click="actionFavorite(data)">{{data.textStateFavorite}}
			</div>

		</div>
	</div>
</div>