<div class="paddingContent">

	<div class="row">
		<label class="circleLabel {{dataObject.background}}">{{dataObject.letterMin}}</label>
		<label class="titleLabelCell">{{dataObject.category}}</label>	
	</div>
	<br>

	<h3 class="{{dataObject.letterColor}}"> {{dataObject.title}} </h3>


	<div class="lineScoll {{dataObject.background}}" ></div>
	<br>
	<div>
		<p style="margin: 0 0 7px;"><b>Autor:</b>  {{dataObject.autor}} </p>
		<!--<p style="margin: 0 0 7px;"><b>Categoría:</b>  {{dataObject.categoryText}} </p>-->
		<p style="margin: 0 0 7px;"><b>Fecha:</b>  {{dataObject.createDate}}</p>
	</div>

	<br>
	<h4 class="{{dataObject.letterColor}}">Información:</h4>
	<p ng-bind-html="dataObject.content"></p>
	

</div>