<div class="fontFrom">	
	
	

	<div  class="contentLoginImageInitUser" >
		<div class="startImageLogin"></div>	
	</div>


	<div ng-if="!existUser" class="headerDiv">
		<div ng-if="existUser">
			
					
			<div ng-if="!existUser" class="itemsMenuUserName"> {{message}} </div>
		</div>
	</div>



	<div ng-if="!existUser" class="padding">

		<div class="textLogin textColorLogin padding">
				No se encuentra registrado,
				Por favor regístrese
		</div>
		<br>

		<button menu-close 
			class="button-balanced button button-block" 
			ng-click="goTo(3)">Registrarse
		</button>
	</div>



	<div  ng-if="existUser" class="menuStyle">				

		<div class="itemsMenu" menu-close  ng-click="goTo(4)">Recientes<hr></div>
		<div class="itemsMenu" menu-close  ng-click="goTo(5)">Más Consultados<hr></div>
		<div class="itemsMenu" menu-close  ng-click="goTo(2)">
			<div class="ion-ios-star" style="color:#ff8400">
				<span style="padding-left:5px;color:#59595c">Favoritos</span>
			</div>
			
			<hr>
		</div>		
		<div class="itemsMenu" menu-close  ng-click="goTo(1)">Mi Perfil<hr></div>
        <div class="itemsMenu" menu-close  ng-click="goTo(6)">Cambiar clave<hr></div>

		<div class="itemsMenu"menu-close  
			style="color: #c73233" 
			ng-click="closeSesion()">Cerrar Sesión
		</div>
		
	</div>
	
</div>





