<div class="list paddingContent fontFrom">
	


    <form ng-submit="cleanStack(theForm)" name="theForm" novalidate="novalidate" >


	<p class="titleForm">Nombres:</p>
	<label class="item item-input borderForm"
	      ng-class="{
            'borderForm': theForm.nombre.$valid && !theForm.$pristine,
            'borderFormError': !theForm.nombre.$valid && !theForm.$pristine,
          }" > 
		<input type="text" placeholder="Ingrese su nombre"
		  ng-model="userModel.Nombre" id="nombre"
          name="nombre" style="font-family: ubuntubold sans-serif;margin-top: 3px"
          required="required"
          >
	</label> 
	<br>


	<!--p class="titleForm">Apellidos:</p>
	<label class="item item-input borderForm"
	      ng-class="{
            'borderForm': theForm.apellido.$valid && !theForm.$pristine,
            'borderFormError': !theForm.apellido.$valid && !theForm.$pristine,
          }" > 
		<input type="text" placeholder="Ingrese su apellido "
		  ng-model="userModel.Apellido" id="apellido"
          name="apellido" style="font-family: ubuntubold sans-serif;margin-top: 3px"
          required="required"
          >
	</label--> 
	

	<br>
	<p class="titleForm">Correo electrónico:</p>
	<label class="item item-input borderForm"
	    ng-class="{
            'borderForm': theForm.email.$valid && !theForm.$pristine,
            'borderFormError': !theForm.email.$valid && !theForm.$pristine,
          }" > 
		<input type="email" placeholder="Ingrese su correo electronico" 
			ng-model="userModel.Correo" id="email"
          	name="email" style="font-family: ubuntubold sans-serif;margin-top: 3px" ng-disabled="userModel.Correo"
          >
	</label> 
	<br>

	<p class="titleForm">Documento de identidad:</p>
	<label class="item item-input borderForm" ng-class="{
            'borderForm': theForm.cedula.$valid && !theForm.$pristine,
            'borderFormError': !theForm.cedula.$valid && !theForm.$pristine,
          }" > 
		<input type="number" placeholder="Ingrese su documento" 
			ng-model="userModel.DocIdentidad" id="cedula"
         	name="cedula" style="font-family: ubuntubold sans-serif;margin-top: 3px"
         	>
	</label> 
	<br>	


	<h4>Información personal</h4>
	<p class="titleForm">Nivel educativo:</p>
	
	<div class="select">
	    <span class="arr"></span>
	    <select ng-model="userModel.NivelEducativo" style="font-family: ubuntubold sans-serif;margin-top: 3px" >
	    	<option value="">Seleccione su nivel</option>	
			<option ng-repeat="data in nivelEducativo">{{data.Nombre}}</option>
	    </select>
 	</div>
 	<br>

 	<br>

	<p class="titleForm">Ingrese su dirección:</p>
	<label class="item item-input borderForm">
		<input type="text" placeholder="Ingrese su lugar de residencia"
		ng-model="userModel.Direccion" style="font-family: ubuntubold sans-serif;margin-top: 3px">
	</label> 
	<br>


	<p class="titleForm">Municipio de Residencia:</p>
	    <div class="item item-input borderForm" style="font-family: ubuntubold sans-serif" >
             <i class="icon ion-search placeholder-icon"></i>
             <input type="search" 
             	placeholder="Municipio" 
             	ng-model="muni.title"  
             	ng-change="searchMunicipios(muni.title)"
             	style="font-family: ubuntubold sans-serif;margin-top: 3px"
             
             >
         </div>
         <div class="optionList padding-left padding-right"  style="margin-top:-5px;font-family: ubuntubold sans-serif" ng-show="isMunicipio">
           <ion-scroll>
               <ul class="list">
               <li class="item"  style="background-color:#EEEEEE" ng-click="seleccionar(itemdata)" ng-repeat="itemdata in municipiosdataregister.municipiosregister">{{itemdata.Nombre}} - {{itemdata.Departamento}}</li></ul>
           </ion-scroll>
 	    </div>
	<br>


	<p class="titleForm">Género:</p>
	<div class="select" >
	    <span class="arr"></span>
	    <select ng-model="userModel.Genero" style="font-family: ubuntubold sans-serif;margin-top: 3px" >
    		<option value="">Seleccione su género</option>	      	
	      	<option>Masculino</option>
	      	<option>Femenino</option>
	    </select>
 	</div>
 	<br>
 	<br>	
	
	<p class="titleForm">Número celular:</p>
	<label class="item item-input borderForm">
		<input type="number" 
		placeholder="Ingrese su número celular" 
		ng-model="userModel.NumeroCelular" style="font-family: ubuntubold sans-serif;margin-top: 3px">
	</label> 
	<br>

	<h4>Actividad Agropecuaria </h4>

	<p class="titleForm">Dirección de produccion:</p>
	<label class="item item-input borderForm">
		<input type="text" 
			placeholder="Dirección" 
			ng-model="userModel.LugarDeProduccion" style="font-family: ubuntubold sans-serif;margin-top: 3px">
	</label> 
	<br>	

	<!--p class="titleForm">Pertenece a una asociación:</p>
	<div class="select" >
	    <span class="arr"></span>
	    <select ng-model="userModel.PerteneceAsociacion" style="font-family: ubuntubold sans-serif;margin-top: 3px">
	      <option value="">Seleccione una opción</option>	
	      <option>Si</option>
	      <option>No</option>
	    </select>
 	</div> 	
 	<br>
 	<br>
 	<div ng-show="userModel.PerteneceAsociacion=='Si'">
 	<p class="titleForm">Asociación a la que pertenece:</p>
	<label class="item item-input borderForm">
		<input type="text" 
			placeholder="Asociación" 
			ng-model="userModel.Asociacion" style="font-family: ubuntubold sans-serif;margin-top: 3px">
	</label> 
	<br>
	</div-->

	<p class="titleForm">Actividad agrícola</p>

	<div class="select" >
	    <span class="arr"></span>
	    <select ng-model="userModel.ActividadAgricola" style="font-family: ubuntubold sans-serif;margin-top: 3px">	    	
			<option ng-repeat="data in arrayActivity">{{data.Nombre}}</option>	      
	    </select>
 	</div>
 	<br>
 	<br>	

	<button
		type="submit"
		class="button button-block button-balanced" >
  		Guardar
  	</button>

	</form >

	<a href="#/app/user/changePassword"
		class="button button-block button-balanced" >
  		Cambiar contraseña
  	</a>





  	
</div>