<div class="paddingContent">

	<div class="row">
		<label class="circleLabel {{dataObject.background}}">{{dataObject.letterMin}}</label>
		<label class="titleLabelCell">{{dataObject.category}}</label>	
	</div>


	<h2 class="{{dataObject.letterColor}}"> {{dataObject.title}} </h2>
	<br>

	

	<div>
		<p style="margin: 0 0 7px;"><b>Nombre de contacto:</b>  {{dataObject.contactUser}} </p>
		<p style="margin: 0 0 7px;"><b>Correo:</b>  {{dataObject.contactEmail}}</p>
		<p style="margin: 0 0 7px;"><b>Telefono:</b>  {{dataObject.contactPhone}}</p>
		<p style="margin: 0 0 7px;"><b>Horario:</b>  {{dataObject.contactTime}}</p>
		<p style="margin: 0 0 7px;"><b>Fecha:</b>  {{dataObject.createDate}}</p>
	</div>
	<div class="lineScoll {{dataObject.background}}" ></div>

	<br>
	<h4 class="{{dataObject.letterColor}}">Información general:</h4>
	<p ng-bind-html="dataObject.content"></p>	

	
</div>


<ion-list>
	<div ng-repeat="group in groups">

	    <ion-item class="item-stable"  ng-click="toggleGroup(group)"
	    	 ng-class="{active: isGroupShown(group)}">

	        <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"
	        style="float: right; color:blue"></i>
	        <div class="titleLabelCell {{dataObject.letterColor}}">{{group.name}}</div>     

	    </ion-item>

	    <div class="item-accordion"
	              ng-repeat="item in group.items"
	              ng-show="isGroupShown(group)" style="padding:0">
	        <div class="paddingContent fontFrom"  >
	        	  <p ng-bind-html="item"></p>
	        </div>
	    </div>

	</div>
</ion-list>
<br>