
<ion-view title="Cambiar contraseña" class="fontFrom">

	<ion-content class="has-header">

		<div class=" paddingContent">

			<p class="titleForm">Contraseña actual:</p>
			<label class="item item-input borderForm">
				
				<input type="password" placeholder="Ingrese su contraseña actual"
				ng-model="password.Actual"
				
				>
			</label> 

			<br>	
			<p class="titleForm">Cambiar contraseña:</p>
			<label class="item item-input borderForm">
				
				<input type="password" placeholder="Ingrese su nueva contaseña"
				ng-model="password.Nueva" 
				
				>
			</label> 

				<br>	
			<p class="titleForm">Confirmar contraseña:</p>
			<label class="item item-input borderForm">
				
				<input type="password" placeholder="Confirme su nueva contaseña"
				ng-model="password.Confirmacion" 
				
				>
			</label> 


			<button 
				ng-click="changePassword()"
				class="button button-block button-balanced" >
		  		Cambiar contraseña
  			</button >

		</div>

	</ion-content>

	


</ion-view>