
<ion-view title="Favoritos" class="fontFrom">

	<div class="tabs tabs-striped tabs-top marginAuxTab" style="height: 60px;">


        <a ng-click="actionInfo(1)" 
            class="tab-item active" 
            style="{{activeBorderColorA}}">
            <span class="styleFavorite">{{countA}}</span>
            Todo</a>


        <a ng-click="actionInfo(2)" 
            class="tab-item active" 
            style="{{activeBorderColorT}}">
            <span class="styleFavorite">{{countT}}</span>
            Trámites</a>

        <a ng-click="actionInfo(3)" 
            class="tab-item active" 
            style="{{activeBorderColorP}}">
            <span class="styleFavorite">{{countP}}</span>
            Programa</a>

        <a ng-click="actionInfo(4)" 
            class="tab-item active" 
            style="{{activeBorderColorN}}">
            <span class="styleFavorite">{{countN}}</span>
            Noticias</a>
    </div>

  	<ion-content class="has-header">
		<div class="buttonHeader" style="margin-top:12px;"></div>
        <cell-view ng-repeat="data in arrayData  track by $index" ></cell-view>
    </ion-content>	

</ion-view>