<ion-view title="Perfil" class="fontFrom">


	<div class="tabs tabs-top tabs-striped marginAuxTab">

		<div class="col" style="padding: 0px">
			<a ng-click="actionButtonRegistre()" 
				class=" tab-item active col styleSugesstion "  
				style="{{activeBorderColorR}} max-width: 100% ">Opciones de perfil</a>
		</div>
	
		
	</div>

	<ion-content class="has-header">
		<div class="buttonHeader marginAuxTab"></div>	
		<menu-registre ng-show="stateRegistre"></menu-registre>
		<menu-sugesstion ng-show="stateSugesstion"></menu-sugesstion>	
	</ion-content>
	
</ion-view>


	