<ion-view  title="Resultados" class="fontFrom has-header">

	<ion-content class="has-header">
        <cell-view ng-repeat="data in arrayData  track by $index" ></cell-view>
    </ion-content>	
</ion>