
@media only screen and (orientation : landscape) {

.logoImage{
    float: right;
    width: 40%;
    height: 100%;
    background-size: 60%;
    background-image: url("../img/logo_min.png");
    background-repeat: no-repeat;
}

 .footerInitTerminosLeft{
  width:33%;
  height:100%;   /* Height of the footer */
  float: left;
 }
 .footerInitTerminosCenter{

  float: left;
  width:33%;
  height:100%;;   /* Height of the footer */
 }
.footerInitTerminosRight{
  float: right;
  bottom:0;
  width:33%;
  height:100%;   /* Height of the footer */
 }

.startImage{
  
  padding-top: 200px;
  margin-top:10px; 
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: 100%;
  line-height:100px; 
  vertical-align: middle;
  background-image: url("../img/logo_conecta.png");
  
}

}

@media only screen and (orientation : portrait) and (min-width: 600px) {
.logoImage{
      float: right;
      width: 24%;
      height: 85%;
     
      background-size: 100%;
      background-image: url("../img/logo_min.png");
      background-repeat: no-repeat;
 }
  
.footerInitTerminosLeft{

  height:100%;   /* Height of the footer */
  float: left;
 }
.footerInitTerminosCenter{
  float: left;
  
  height:100%;   /* Height of the footer */
 }
.footerInitTerminosRight{
  float: right;
  bottom:0;
  width:33%;
  height:100%;   /* Height of the footer */
 }

.startImage{
    padding-top: 150px;
    margin-top:100px; 
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 15%;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height:100px; 
    vertical-align: middle;
    background-image: url("../img/logo_conecta.png");
  }
}
