

@font-face {
  font-family: 'noto_serifbold_italic';
  src: url("../fonts/notoserif-bolditalic-webfont.eot");
  src: url("../fonts/notoserif-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bolditalic-webfont.woff2") format("woff2"), url("../fonts/notoserif-bolditalic-webfont.woff") format("woff"), url("../fonts/notoserif-bolditalic-webfont.ttf") format("truetype"), url("../fonts/notoserif-bolditalic-webfont.svg#noto_serifbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifbold';
  src: url("../fonts/notoserif-bold-webfont.eot");
  src: url("../fonts/notoserif-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bold-webfont.woff2") format("woff2"), url("../fonts/notoserif-bold-webfont.woff") format("woff"), url("../fonts/notoserif-bold-webfont.ttf") format("truetype"), url("../fonts/notoserif-bold-webfont.svg#noto_serifbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifitalic';
  src: url("../fonts/notoserif-italic-webfont.eot");
  src: url("../fonts/notoserif-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-italic-webfont.woff2") format("woff2"), url("../fonts/notoserif-italic-webfont.woff") format("woff"), url("../fonts/notoserif-italic-webfont.ttf") format("truetype"), url("../fonts/notoserif-italic-webfont.svg#noto_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_serifregular';
  src: url("../fonts/notoserif-regular-webfont.eot");
  src: url("../fonts/notoserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-regular-webfont.woff2") format("woff2"), url("../fonts/notoserif-regular-webfont.woff") format("woff"), url("../fonts/notoserif-regular-webfont.ttf") format("truetype"), url("../fonts/notoserif-regular-webfont.svg#noto_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-bold-webfont.eot");
  src: url("../fonts/ubuntu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/ubuntu-bold-webfont.ttf") format("truetype"), url("../fonts/ubuntu-bold-webfont.svg#ubuntubold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.eot");
  src: url("../fonts/ubuntu-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype"), url("../fonts/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.eot");
  src: url("../fonts/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-light-webfont.ttf") format("truetype"), url("../fonts/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-7iwtun");
  src: url("../fonts/icomoon.eot?-7iwtun#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?-7iwtun") format("truetype"), url("../fonts/icomoon.woff?-7iwtun") format("woff"), url("../fonts/icomoon.svg?-7iwtun#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; 
}














p {
  font-family: ubuntubold sans-serif;
  margin-top: 3px;
}


.barCustomColor{
  background-color: #2F6850 ;
  color: white;
}

.bar .button.back-button{
  color: white;
}
.button-clear.button-clear-white{
  color: white;
}


.colorTramite{
  background-color: #5b9bfb;
}

.colorNotice{
  background-color: #ff8400;
}

.colorProgram{
  background-color: #6F4A89;
}





.backgroundProfileB {
  background-color: black;
  
}

.backgroundProfileW {
  background-color: white;
}

.buttonHeader{
  height: 50px;
}

.button.button-color-green {  
  border-color: green;

}

.button.button-notice {  
  background-color: #ff8400;
  border-color: #ff8400;
  color: white;
  height: 42px;
  padding: 0px 10px;
}
.button.button-notice:before{  
  font-size: 15px; 
}

.button.button-tramite {  
  background-color: #5b9bfb;
  border-color: #5b9bfb;
  color: white;
  height: 42px;
  padding: 0px 10px;  
}

.button.button-cleare {  
  background-color: transparent;  
  color: #ccc;
  height: 42px;
  padding: 0px 10px;  
}

.button.button-cleare :before{  
  font-size: 15px; 
}


.button.button-tramite:before{  
  font-size: 15px; 
}

.button.button-program {  
  background-color: #6F4A89;
  border-color: #6F4A89;
  color: white;
  height: 42px;
  padding: 0px 10px;
}

.button.button-program:before{  
  font-size: 15px; 
}

.button.button-clean {  
  background-color: transparent;
  border-color: transparent;  
  height: 42px;
  padding: 0px 10px;
  padding-left: 20%;
}

.colorTramiteFont{
  color: #5b9bfb;
}

.colorNoticeFont{
  color: #ff8400;
}

.colorProgramFont{
  color: #6F4A89;
}
.colorAll {
  color: #2F6850;
}

.button.button-program:before{  
  font-size: 15px; 
}




.lineScoll{
  height: 1px;
  width: 40%;
    
}

.lineScollSuggestion{
  height: 1px;
  width: 15%;
  background-color: #ccc;
}

.textTitle{
  padding: 10px 0px;
  font-size: 20px;
  text-align: justify;
  
}

.textBody{
  padding: 10px 0px;
  font-size: 12px;
  line-height: 15px;
  color : #616161;
}

.paddingContent{
  padding: 30px 30px;
}

.titleForm{
  padding:  0px 30px;
  color: #636363;

}

.borderForm{
  border-color: green;
}

.borderFormError{
  border-color: red;
  color: red;
}

.cellMinButton {
  min-height: 20px;
}

a:link{   
 text-decoration:none;   
}

h4{
  color: green;
}

.fontFrom{
  background-color: #F5F5F5;
}

.headerFrom{
  height: 100px;

}
.imageProfile{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.textImageProfile{
  color: #636363;
  margin-left: 25px;
  display: inline-block;  
  margin-top: 20px;
}

.circleLabel{
  border-radius: 18px;
  font-size: 15px;
  height: 36px;
  width: 36px;
  padding: 7px;
  text-align: center;
  color: white;
}

.circleContent{
  margin: auto;
  width: 250px;

}
.circleLabelYes{
  background-color: white;
  border: 1px solid green;
  color: green;
  border-radius: 50px;
  font-size: 25px;
  height: 100px;
  width: 100px;
  padding: 30px;
  text-align: center;
}

.circleLabelYes2{
  background-color: green;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  font-size: 25px;
  height: 100px;
  width: 100px;
  padding: 30px;
  text-align: center;
}

.circleLabelNo{
  background-color: white;
  border: 1px solid red;
  color: red;
  border-radius: 50px;
  font-size: 25px;
  height: 100px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 20px;
}

.circleLabelNo2{
  background-color: red;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  font-size: 25px;
  height: 100px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 20px;
}

.titleLabelCell{
  margin-left: 15px;
  margin-top: 8px;
  display: inline;
  font-size: 15px;


}

.select {
  font-size: 16px;
  position: relative;
  display: inline-block;

  width: 100%;

}
.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding: 15px 0px 14px 16px;
  margin: 0;
  width: 100%;
  transition: border-color 0.2s;
  border: 1px solid green;
  border-radius: 0px;
  background: white;
  
  line-height: normal;

}


.select .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 100px;
  pointer-events: none;
}
.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid green;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.auxPaddingButton{
  padding-top: 7px;
}
.auxMarginRow{
  margin: 0px ;
}

/* Estilos de profile*/

.headerDiv {
  width: 100%;
  height: 200px;
  
}

.footerDiv {
  width: 100%;
  height: 200px;
  
}

/* Favortios*/
.favorite{
  height: 49px;
  width: 100%;
}


.startFont{  
  background-image: url("../img/launch_conecta.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.startLogo{
  
  width: 100%;
  height: 60px;
  background-color: #ccc;
  font-size: 15px;
  position: absolute;

}
.startImage{

 
  width: 200px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  background-repeat: no-repeat;
  background-size: 100% ;
  background-image: url("../img/logo_conecta.png");

  
}

.startImageLogin{
  width: 150px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-size: 100% ;
  background-color: transparent ;
  background-image: url("../img/logo_conecta.png");
}

.contentLoginImage{
  width: 100%;
  height: 70px;
  margin-top: 0px;
  background-color: #2F6850;
  padding-top: 5px;


}

.contentLoginImageInitUser{
  width: 100%;
  height: 113px;
  margin-top: 0px;
  background-color: #2F6850;
  padding-top: 5px;
  margin-top: 0px;
  padding-top: 45px;

}

.startImageLoginResult{
  width: 100%;
  height: 200px;  
}

.startText {
  margin-top: 10px;
  padding: 15px 30px;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: "ubuntulight" sans-serif;
}
.barCustomColorTerminos{
  background-color: transparent; ;
  color: white;
}
.startTextJustify {
  margin-top: 10px;
  padding: 15px 25px 15px 25px;
  color: white;
  font-size: 15px;
  text-align: justify;
  font-family: "ubuntulight" sans-serif;
}
.startPaddingButton{
  
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top: 40px;
  font-family: "Ubuntu", sans-serif;

}

.footerInit {
  position:absolute;
  bottom:0;
  width:100%;
  height:8%;   /* Height of the footer */
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px
 }

.letterInit{

  margin-top: 5px;
  margin-bottom: auto;
  height: 30;
  font-size: 100%;
  font-weight: 200;
  float: left;
  font-family: "Ubuntu", sans-serif;
  color: #59595c;
  width: 55%;
}

.textLogin{
  font-size: 16px;  
  text-align: center;
}

.textLoginMin{
  font-size: 14px;  
  
}

.textColorLogin{
  color: #59595c;
}


.logoImage{
    float: right;
    width: 40%;
    height: 85%;
   
    background-size: 100%;
    background-image: url("../img/logo_min.png");
    background-repeat: no-repeat;
}

.iconConecta:before{
  display:inline-block;
  width: 140px;
  height: 75%;  
  position: absolute; 
  content: "";
  background-image: url("../img/icon_conecta.png");
  background-repeat: no-repeat;
  background-size: 70%;
  margin-top: 2px;

}

.bar .title {
  margin-top: 4px;
}

.marginAuxTab{
  margin-top: -1px;
}

.auxHeigth{
  height: 45px;

}

textarea{
  height: 170px;
  max-height: 170px;
}



.passwordView{
  height: 50px;
  margin-top: -1px;
  margin-bottom: -1px;
  max-height: 51px;
  padding-top: 10px;
  border-radius: 10px;
}
.passwordCreate{
  padding-left: 10px;
  padding-right: 0px;
}
.lineResult{
  width: 100%;
  height: 2px;
  background-color: #2F6850;
}

.heigthNill{
  height: 0;
}

p {
  text-align: justify;
}

.styleSugesstion{
  font-size: 16px;
  padding: 0px 20px;
  text-align: center;
}

.searchButton{
  color: #ccc;
  border-color: #ccc;
}

.menuStyle{
  padding-left: 15px;
  padding-right: 15px;
  width:100%;
  margin-top: 50px;

}

.itemsMenu{
  padding-left:10px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 16px;
  height: 50px;
  color: #59595c;
  width: 100%;  
}

.footerInitAux {
  position:absolute;
  bottom:0;
  width:100%;
  height:90px;   /* Height of the footer */  
  padding-bottom:0;
 }

.startImageLoginAux{
  width: 150px;
  height: 90px;
  
  float:right;
  margin-top : 10px;
  margin-right:20%;
  background-repeat: no-repeat;
  background-size: 100% ;
  background-color: transparent ;
  background-image: url("../img/logo_conecta.png");
}

.contentLoginImageAux{
  width: 100%;
  height: 90px;  
  background-color: #2F6850;
  padding-top: 12px;
}



.positionImageMenu{

  margin-top: 50px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

#barStatus{
  margin-top: 35px;
  width : 80%;
  margin: auto;
  background-color: #ccc;
  height: 10px;
  border-radius: 5px;
  display:block;
}

#progress {
  width: 40%;  
  height: 10px;
  border-radius:5px;
  background-color: green;
}

.itemsMenuUserName{
  padding-left:30px;
  padding-top: 15px;

  font-size: 16px;
  height: 35px;
  color: green;
  width: 100%;  
}

.itemsMenuUserNameText{
  padding-left:30px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  height: 50px;
  color: #59595c;
  width: 100%;  
}

.spinner svg {
  width: 35px;
  height: 35px;

  background-color: white

}
.loading{
  background-color: white !important;
}

.optionList{
    position:absolute;
    width:100%;
    z-index:100;
}

.styleFavorite {
    display: block;
    height: 20px;
}

#terminos{
  
  
  color: white;
  font-size: 120%;
  text-align: center;
}

.lineTerminos{
  width: 60%;
  height: 1px;
  background-color: white;
  margin-top: 5px;
  margin-left: 20%;
}


 .footerInitTerminos{
  position:absolute;
  bottom:0;
  width:100%;
  height:8%;   /* Height of the footer */
  background: white;
 }
.footerInitTerminosLeft{
  width:33%;
  height:100%;   /* Height of the footer */
  float: left;
  text-align: center;  
}
    .footerInitTerminosLeft:before
    {
        content: '';
        width: 100%;
        display: inline-block;
  
    }
.footerInitTerminosLeftImg{

    margin-top:-110%;
    height: 90%; 
 
}
.footerInitTerminosCenter{
  float: left;
  width:33%;
  height:100%;;   /* Height of the footer */
  text-align: center;
}
  .footerInitTerminosCenter:before
    {
        content: '';
        width: 100%;
        display: inline-block;
    }
.footerInitTerminosCenterImg{

      height:100%;
      margin-top:-15%;
}
.footerInitTerminosRight{
  float: left;
  width:33%;
  height:100%;   /* Height of the footer */
  text-align: center;
 }
 .footerInitTerminosRight:before
    {
        content: '';
        width: 100%;
        display: inline-block;
    }
.footerInitTerminosRightImg{
       height:100%;
      margin-top:-15%;
}



.lema{
  
  width: 50%;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 100% ;
  background-image: url("../img/lema.jpg");
  
}


.logo2{

  width: 50%;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 100% ;
  background-image: url("../img/logo2.jpg");

}

.logo3{

  width: 50%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: 100% ;
  background-image: url("../img/logo_min.png");
}

.startImage2{
  
  width: 200px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  background-repeat: no-repeat;
  background-size: 100% ;
  background-image: url("../img/logo_conecta.png");
  
}
.btnVerclave{
  background-color: white; 
  color: green; 
  margin-left: 10px; 
  font-size: 90%;
}

@media screen and (min-width: 320px) {
  .btnVerclave{
    background-color: white; 
    color: green; 
    margin-left: 10px; 
    font-size: 70%;
  }

}





@media screen and (min-width: 600px) {
    .lema{
      width: 50%;
      height: 160px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5px;
      background-repeat: no-repeat;
      background-size: 100% ;
      background-image: url("../img/lema.jpg");
    }
    .logo2{
      width: 50%;
      height: 160px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5px;
      background-repeat: no-repeat;
      background-size: 100% ;
      background-image: url("../img/logo2.jpg");

    }
}
@media screen and (min-width: 800px) {
    .lema{
      width: 50%;
      height: 210px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5px;
      background-repeat: no-repeat;
      background-size: 100% ;
      background-image: url("../img/lema.jpg");
    }
    .logo2{
      width: 50%;
      height: 210px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5px;
      background-repeat: no-repeat;
      background-size: 100% ;
      background-image: url("../img/logo2.jpg");

    }

}